* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #132d46;
  color: #eee;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}
